<?xml version="1.0" encoding="UTF-8" ?>
<beans>

    <bean id="testobj" class="com.minispring.testbean.TestObjImpl"/>

    <bean id="testobj_set_by_property" class="com.minispring.testbean.TestObjImplForProperty">
        <property type="String" name="property1" value="Hello, World！"/>
    </bean>


    <bean id="testobj_set_by_constructor" class="com.minispring.testbean.TestObjImplForConstructor">
        <constructor-arg type="String" name="name" value="test"/>
        <constructor-arg type="int" name="age" value="10"/>
        <property type="String" name="property1" value="property1"/>
        <property type="String" name="property2" value="property2"/>
    </bean>

    <bean id="testobj_set_by_beanReference" class="com.minispring.testbean.TestObjImplForBeanReference">
        <property type="com.minispring.testbean.TestObjImplForProperty" name="testObjImplForProperty"
                  ref="testobj_set_by_property"/>
    </bean>

    <bean id="aclass" class="com.minispring.testbean.ReferenceAClass">
        <property type="com.minispring.testbean.ReferenceBClass" name="referenceBClass" ref="bclass"/>
    </bean>
    <bean id="bclass" class="com.minispring.testbean.ReferenceBClass">
        <property type="com.minispring.testbean.ReferenceCClass" name="referenceCClass" ref="cclass"/>
    </bean>
    <bean id="cclass" class="com.minispring.testbean.ReferenceCClass">
        <property type="com.minispring.testbean.ReferenceAClass" name="referenceAClass" ref="aclass"/>
    </bean>

    <bean id="testautowirebean" class="com.minispring.testbean.AutowireTestBean"/>
</beans>